<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Yatzy On Spring Boot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <table>
        <tbody>
        <tr th:each="score : ${scores}">
            <td th:text="#{ones.row.label}"></td>
            <td th:text="${score.value.score}"/>
        </tr>
        </tbody>
    </table>

    <div>
        <button type="submit" name="roll">Roll Dices</button>
    </div>
</body>
</html>