<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Yatzy On Spring Boot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link th:href="@{/static/css/foundation.css}" href="../static/css/foundation.min.css"  rel="stylesheet" type="text/css"  />

</head>

<body>

    <div class="row">
        <div class="large-4 columns">
            <table>
                <tbody>
                <tr th:each="score : ${scores}">
                    <td th:text="#{ones.row.label}"></td>
                    <td th:text="${score.value.score}"/>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="large-8 columns">
            <div>
                <button class="small button" type="submit" name="roll">Roll Dices</button>
            </div>
        </div>
    </div>



    <div th:include="footer :: copy"></div>

    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>